.app {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.board-container > div {
  display: flex;
  gap: 50px;
}

table,
th,
td {
  border: 1px solid #000;
  border-spacing: 15px;
  border-collapse: collapse;
  padding: 7px;
}

.score-board > div {
  font-weight: bold;
  margin: 10px 0;
}

.board-row {
  display: flex;
}

.controls {
  text-align: center;
  margin-top: 20px;
}

.move {
  margin: 0 5px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999;
  width: 75px;
  height: 75px;
}

.player > span {
  display: flex;
  gap: 10px;
}

.player-input button {
  margin-left: 5px;
}
